* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.navbar-white {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.navbar-white .nav-links li a {
    color: #000;
    text-decoration: none;
}
.navbar-white .register-btn {
    background: #ff5361;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.logo {
    width: 100px;
    cursor: pointer;
}
.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.active {
    position: relative;
}
.navbar-white .active::after {
    content: '';
    background: #ff5361;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -12px;
    border-radius: 2px;
}
/*------CONTAINER SECTION--------------*/
.container {
    padding: 0 7%;
}
.list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col {
    flex-basis: 70%;
}
.right-col {
    flex-basis: 25%;
}
.left-col h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.house-img {
    flex-basis: 40%;
}
.house-img img {
    width: 100%;
    border-radius: 12px;
}
.house-info {
    flex-basis: 58%;
    color: #555;
}
.house-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i {
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}
.house-price {
    text-align: right;
}
.house-price {
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}
.sidebar {
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}
.sidebar h2 {
    font-weight: 500;
}
.sidebar h3 {
    font-weight: 500;
    margin: 20px 0 10px;
}
.filter {
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p {
    flex: 1;
}
.filter input {
    margin-right: 15px;
    cursor: pointer;
}
.sidebar-link {
    text-align: right;
    margin: 20px 0;
}
.sidebar-link a {
    text-decoration: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination img {
    width: 8px;
    margin: 10px 20px;
    cursor: pointer;
}
.left-arrow {
    transform: rotate(-180deg);
}
.pagination span {
    margin: 10px 8px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current {
    background: #333;
    color: #fff;
}

/*-----------FOOTER STYLING------------------*/
/*----------Footer-------------*/
.footer {
    margin: 80px 0 10px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    font-size: 22px;
    color: #999;
    margin: 0 10px;
}
.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p {
    padding-bottom: 15px ;
}
nav .fa-bars {
    display: none;
}



/*-------MEDIA QUERY-----------*/
@media only screen and (max-width: 700px) {
    .logo {
        position: fixed;
        top: 4%;
        left: 7%;
        width: 60px;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li {
        margin: 10px 0;
        display: block;
    }
    .register-btn {
        margin: 15px 0 30px;
        display: inline-block;
    }
    nav .fa-bars {
        display: block;
        position: fixed;
        color: #ff5361;
        top: 4%;
        font-size: 28px;
        right: 7%;
    }
    .active::after {
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }
    .header h1 {
        padding-top: 120px;
        font-size: 7vw;
    }
    .hidemenu {
        max-height: 300px;
    }
    .list-container {
        margin-top: 150px;
    }
    .left-col, .right-col, .house-img, .house-info {
        flex-basis: 100%;
    }
    .left-col h1 {
        font-size: 22px;
    }
    .house-info h3 {
        font-size: 18px;
    }
    .house-info i {
        font-size: 16px;
    }
    .pagination span {
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
    }
}